# Welcome to your prefect.yaml file! You can use this file for storing and managing
# configuration for deploying your flows. We recommend committing this file to source
# control along with your flow code.

# Generic metadata about this project
name: music_dashboard
prefect-version: 3.4.6

# build section allows you to manage and build docker images
build: 
- prefect_docker.deployments.steps.build_docker_image:
    requires: prefect-docker>=0.6.0
    image_name: lastfm-image
    tag: latest
    dockerfile: dockerfile

# push section allows you to manage if and how this project is uploaded to remote locations
push: null

# pull section allows you to provide instructions for cloning this project in remote locations
pull:
- prefect.deployments.steps.git_clone:
    repository: https://github.com/RaniaElFahli/lastfm_api_pipeline.git
    branch: main

# the deployments section allows you to provide configuration for deploying flows
deployments:
- name: deploy-lastfm-etl
  version: null
  tags: []
  concurrency_limit: null
  description: null
  entrypoint: prefect-deployment/prefect_flow.py:lastfm_etl
  parameters: {}
  work_pool:
    name: lastfm-pool
    type: docker
    work_queue_name: null
    job_variables: 
      image: lastfm-image:latest
      image_pull_policy: Never
  schedules:
  - cron: '30 18 * * * '
    timezone: Europe/Paris
    day_or: true
    active: true
